# Ambiente virtual Python
Lib/
Scripts/
Include/
share/
pyvenv.cfg

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Dados sensíveis / planilhas locais
*.xlsx
*.xls

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Arquivos de contexto local
*_contxt.txt

# Logs e temporários
*.log
*.tmp
